<div class='container-fluid'>
    <nav class='navbar navbar-expand-lg navbar-light bg-light'>
        <a class='navbar-brand text-success' href='/'>Online Market</a>
        <button
            class='navbar-toggler'
            type='button'
            data-toggle='collapse'
            data-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent'
            aria-expanded='false'
            aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>

        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <div class='navbar-nav mr-auto'>
                Welcome to ABC Company.
            </div>
            <form method="get" action='/search' class='form-inline mx-auto my-lg-0'>
                <input
                    class='form-control mr-sm-2'
                    id='search'
                    name='search'
                    type='text'
                    placeholder='Search'
                    aria-label='Search'
                />
                <button
                    class='btn btn-outline-success my-2 my-sm-0'
                    type='submit'                
                >
                    Search
                </button>
            </form>

            <ul class='navbar-nav'>
                 {{#if lcIsAuthenticated}}
                <li class='nav-item dropdown'>
                    <a
                        class='nav-link dropdown-toggle'
                        href='#'
                        id='navbarDropdown'
                        role='button'
                        data-toggle='dropdown'
                        aria-expanded='false'
                    >
                    <i class="fa fa-user" aria-hidden="true"></i>
                        Welcome,
                        <b>{{lcAuthUser.fullname}}</b>
                        
                    </a>
                    <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
                        <a class='dropdown-item' href='/logout'>Logout</a>
                    </div>
                </li>
                {{else}}
                <li class='nav-item active'>
                    <a class='nav-link' href='/login'><i class="fa fa-sign-in" aria-hidden="true"></i> Login
                        <span class='sr-only'>(current)</span></a>
                </li>
                {{/if}}                               
            </ul>
        </div>
    </nav>
    <hr />